// 共通レイアウト
body {
  background-color: white !important;
}

ul {
  list-style: none;
  padding-inline-start: 10px;
}

h5{
  padding:0;
  color:$font_color;
}

.container-fluid {
  padding: 0 !important;
}
