// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// common
@import "common";

// mixin
@import "mixin";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.content {
  padding: 60px 0 0 0;
}

.page-box{
  margin:10px 10px;
  padding:10px 10px;
}

.item {
  margin-top: 20px;
}

.red {
  color: red;
}

// item flex
.flex {
  display: flex;
  .likes {
    margin: 0 0 0 auto;
  }
}

// index
.item {
  width: 17rem;
  @include bq(sm) {
    width: 14rem;
  }
  img {
    width: 100%;
    height: 180px;
    @include bq(sm) {
      height: 155px;
    }
  }
}

.button {
  text-align: center;
  a {
    display: inline-block;
  }
}

.top-image {
  width: 100%;
  height: 100%;
}


.mypage-item-submit{
  .button-right{
    text-align: right;
  }
}

.sex_form{
  width:50% !important;
}